## Trump Model Training

In [18]:
from tensorflow import keras
import matplotlib.pyplot as plt
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
import numpy as np
from tensorflow.keras.utils import to_categorical
from datetime import datetime
from tensorflow.keras.callbacks import TensorBoard
from tensorflow.keras.optimizers import SGD
from tensorflow.keras.layers import Dropout
from tensorflow.keras.optimizers import Adagrad, Adam
from tensorflow.keras import regularizers
import tensorflow as tf

In [19]:
## define paths to data files
path_to_train_data = Path("C:\\Users\\matth\\Documents\\DL4G\\jass-data\\split\\train\\filtered\\card\\csv")
path_to_test_data = Path("C:\\Users\\matth\\Documents\\DL4G\\jass-data\\split\\test\\filtered\\card\\csv")

In [20]:
# train data
data_train1 = pd.read_csv(path_to_train_data / '0001.csv', header=None)
data_train2 = pd.read_csv(path_to_train_data / '0002.csv', header=None)
data_train3 = pd.read_csv(path_to_train_data / '0003.csv', header=None)
data_train4 = pd.read_csv(path_to_train_data / '0004.csv', header=None)

data_train = pd.concat([data_train1, data_train2, data_train3, data_train4], axis=0)
data_train.shape
data_train.head()

,0,1,2,3,4,5,6,7,8,9,...,73,74,75,76,77,78,79,80,81,82
0,0,0,0,0,0,1,0,1,0,0,...,1,0,0,0,0,0,0,0,1,30
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,31
2,0,1,0,0,0,0,0,0,1,0,...,1,0,0,0,0,1,0,0,0,8
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,13
4,0,0,0,0,0,0,0,0,0,1,...,1,0,0,1,0,0,0,0,0,32

In [21]:
# test data
data_test1 = pd.read_csv(path_to_test_data / '0001.csv', header=None)
data_test2 = pd.read_csv(path_to_train_data / '0002.csv', header=None)

data_test = pd.concat([data_test1, data_test2])
data_test.shape
data_test.head()

,0,1,2,3,4,5,6,7,8,9,...,73,74,75,76,77,78,79,80,81,82
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,21
1,1,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,20
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,12
3,0,0,0,1,0,1,0,1,0,0,...,0,0,1,0,0,0,0,0,1,3
4,0,1,0,0,0,1,0,0,1,0,...,0,0,1,0,0,0,1,0,0,8

## Label data for readability

## Prepare x and y values

In [22]:
# colums used for extracting x and y values. The same effect could be achieved with train_test_split-Method, but 
# since we already have different files, we dont need to split the files using this method.
#data_X_columns = cards + forehand
#data_Y_colums = trump

x_train = data_train[data_train.columns[0:81]]
y_train = data_train[data_train.columns[82]]
print (x_train.head())
print (y_train.head())

x_test = data_test[data_test.columns[0:81]]
y_test = data_test[data_test.columns[82]]

   0   1   2   3   4   5   6   7   8   9   ...  71  72  73  74  75  76  77  \
0   0   0   0   0   0   1   0   1   0   0  ...   0   0   1   0   0   0   0
1   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   1   0   0
2   0   1   0   0   0   0   0   0   1   0  ...   0   0   1   0   0   0   0
3   0   0   0   0   0   0   0   0   0   0  ...   0   1   0   0   0   0   0
4   0   0   0   0   0   0   0   0   0   1  ...   0   0   1   0   0   1   0

   78  79  80
0   0   0   0
1   0   0   1
2   1   0   0
3   0   0   1
4   0   0   0

[5 rows x 81 columns]
0    30
1    31
2     8
3    13
4    32
Name: 82, dtype: int64

## Create model and train it

In [23]:
# We have 37 features, so we have a node for each feature. There are 7 output categories: each trump color(4), 
# obe-abe, unde-ufe, schiebe. So we need an reducing function with 7 elements
model = keras.Sequential()
model.add(keras.layers.Dense(81, activation='relu', input_shape=[81]))
model.add(keras.layers.Dense(81, activation='relu'))
model.add(keras.layers.Dense(81, activation='relu', kernel_regularizer=regularizers.l2(0.01), activity_regularizer=regularizers.l2(0.01)))
model.add(keras.layers.Dense(81, activation='relu'))
#model.add(keras.layers.Dropout(0.1))
model.add(keras.layers.Dense(81, activation='relu'))
model.add(keras.layers.Dense(81, activation='relu'))
model.add(keras.layers.Dense(81, activation='relu'))
model.add(keras.layers.Dense(81, activation='relu'))
model.add(keras.layers.Dense(81, activation='relu'))
model.add(keras.layers.Dense(36, activation='softmax'))

opt = Adam()

model.compile(loss='categorical_crossentropy',
              optimizer= 'adam',
              metrics=['accuracy'])

print(model.summary())

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_27 (Dense)             (None, 81)                6642
_________________________________________________________________
dense_28 (Dense)             (None, 81)                6642
_________________________________________________________________
dense_29 (Dense)             (None, 81)                6642
_________________________________________________________________
dense_30 (Dense)             (None, 81)                6642
_________________________________________________________________
dense_31 (Dense)             (None, 81)                6642
_________________________________________________________________
dense_32 (Dense)             (None, 81)                6642
_________________________________________________________________
dense_33 (Dense)             (None, 81)                6642
_________________________________________________________________
dense_34 (Dense)             (None, 81)                6642
_________________________________________________________________
dense_35 (Dense)             (None, 81)                6642
_________________________________________________________________
dense_36 (Dense)             (None, 36)                2952
=================================================================
Total params: 62,730
Trainable params: 62,730
Non-trainable params: 0
_________________________________________________________________
None

In [ ]:
y_train_categorical = to_categorical(y_train)

history = model.fit(x_train, y_train_categorical, epochs=150, batch_size=100)

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>
Train on 383283 samples
Epoch 1/150
383283/383283 [==============================] - 18s 47us/sample - loss: 2.3418 - accuracy: 0.3462
Epoch 2/150
383283/383283 [==============================] - 16s 42us/sample - loss: 1.8449 - accuracy: 0.4776
Epoch 3/150
383283/383283 [==============================] - 16s 42us/sample - loss: 1.6709 - accuracy: 0.5149
Epoch 4/150
383283/383283 [==============================] - 16s 42us/sample - loss: 1.5695 - accuracy: 0.5336
Epoch 5/150
383283/383283 [==============================] - 19s 49us/sample - loss: 1.4957 - accuracy: 0.5472
Epoch 6/150
383283/383283 [==============================] - 19s 50us/sample - loss: 1.4470 - accuracy: 0.5586
Epoch 7/150
383283/383283 [==============================] - 20s 51us/sample - loss: 1.4077 - accuracy: 0.5656
Epoch 8/150
383283/383283 [==============================] - 17s 44us/sample - loss: 1.3746 - accuracy: 0.5726
Epoch 9/150
213600/383283 [===============>..............] - ETA: 7s - loss: 1.3420 - accuracy: 0.5786

## Generate graphs for loss and accuracy

In [ ]:
plt.plot(history.history['loss'])
plt.title('Loss')
plt.xlabel('epoch')
plt.ylabel('loss')
plt.show()

plt.plot(history.history['accuracy'])
plt.title('Accuracy')
plt.xlabel('epoch')
plt.ylabel('acc')
plt.legend(['Train'], loc='upper left')

## Test model

In [ ]:
y_test_categorical = to_categorical(y_test)
model.evaluate(x_test, y_test_categorical)

In [ ]:
model.save("card_model.h5")